body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #007BFF; 
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header img {
    display: block;
    margin: 10px auto;
    max-width: 100px; 
}

main {
    padding: 20px;
    text-align: center;
    margin-bottom: 130px; 
}

footer {
    background-color: #007BFF; 
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


nav {
    margin: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center; /* Centraliza os itens do menu em telas pequenas */
}

nav ul li {
    display: inline-block; /* Mantém os itens em linha, mas permite quebrar linha em telas pequenas */
    margin: 0 10px;
}

nav ul li a {
    background-color: #007BFF; 
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: block; /* Permite que o padding funcione corretamente */
}

nav ul li a:hover {
    background-color: #0056b3;
}

/* Responsividade */
@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    header img {
        max-width: 80px;
    }

    nav ul li {
        display: block; /* Faz os itens do menu ficarem em blocos em telas pequenas */
        margin: 10px 0;
    }

    nav ul li a {
        padding: 10px 15px; /* Ajusta o padding para telas menores */
    }

    footer {
        padding: 15px 0;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }

    header img {
        max-width: 60px;
    }

    main {
        padding: 10px;
    }

    nav ul li a {
        padding: 8px 10px; /* Ajusta o padding para telas menores */
    }

    footer {
        padding: 10px 0;
    }
}
